body {
	font-family: Arial;
}

.container {
	display: grid;
	grid-gap: 5px;
	height: 100vh;
	grid-auto-rows: 50px 100px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	/*justify-item: start end center stretch; alineado horizontal*/
	/*align-items: start end center stretch;Alineado vertical*/
	/*El valor stretch se encarga de estirar el 
	contenido segun el espacio del elemento padre*/
	justify-items: center;
	align-items: center;
}

.item {
	background-color: lightblue;
	padding: 20px;
	border: 1px solid red;
}

.item:nth-of-type(5) {
	align-self: start; /*Se alinea a si mismo de forma vertical*/
	justify-self: start;/*Se alinea a si mismo de forma horizonatal*/
}