/*-----------    Variables  ---------------*/
:root {
	/*Colors*/
	--color-dark-blue: #171b2f;
	--color-blue:#197CDF;
	--color-blue-opacity: #197cdfc4;
	--color-white: white;
	--color-light-gray:rgba(107,103,103,.77);
	--color-highligth-gray: rgb(165 163 163 / 34%);
	--color-gray: #6b6767;
	--color-yellow:#EEE20A;
	--color-red:#F21802;
	--color-ligth-red: rgba(242,24,2,.9);
	--color-lila:#7B60D3;
	--color-yellow-opacity: #eee20ac9;
	--color-lila-opacity: #7b60d3d1;

	/*Space*/
	--espaciado: 10px;

	/*Font-size*/
	--font-big: 16px;
	--font-medium: 14px;
	--font-small: 12px;
}
/*------------  Fuentes  ------------------*/
/*Roboto*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/*------------ 		General --------------*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", Arial, sans-serif;
}
a {
	text-decoration: none;
}

/*---------- 			Main ---------------*/
.main {
	width: auto;
	height: 100vh;
	display: grid;
	grid-template: 370px 125px 1fr / .6fr 1fr 350px;
	grid-template-areas:	"sidebar video video"
							"sidebar description description"
							"sidebar comments suggest"
}
.container {
	width: 95%;
	height: auto;
}
/*---------   Sidebar     ---------*/
.sidebar {
	grid-area: sidebar;
	height: 170vh;
	padding: 15px 0 0 10px;
	background-color: var(--color-dark-blue);
	color: var(--color-white);
}
/*Logo*/
.logo {
	margin-bottom: var(--espaciado);
}
/*-----------------   Playlist   ----------*/
.container-playlist {
	width: 95%;
	margin: 0 auto;
}
.my-playlist,
.playlist-friends {
	width: 80%;
}
.playlist-name, .playlist-friend-name{
	font-size: var(--font-medium);
}
/*Playlist titulo*/
.playlist-title{
	margin-bottom: 15px;
}
/*My Playlist*/
.my-playlist {
	margin-bottom: 5vh;
}
.playlist {
	display: grid;
	grid-template-columns: 45px 1fr;
	grid-template-rows: auto;
	margin-bottom: var(--espaciado);
}
.playlist-name, .playlist-friend-name {
	color:var(--color-white);
}
.playlist .playlist-name:hover {
	text-decoration-line: underline;
}
/*Playlist Friend*/
.playlist .playlist-icon {
	width: 80%;
}
.playlist-icon img, 
.comment-icon-user img,
.box-comment-img img {
	border-radius: 50%;
	max-width: 32px;
	max-height:32px;
	object-fit: cover;
	object-position: center;
}
.playlist .playlist-friend-name {
	margin-top: 7px;
}
/*---------      Video     ------------*/
.video {
	grid-area: video;
}
.video iframe{
	width: 100%;
	height: 100%;
}
/*---------    Descripcion      -------*/
.description {
	grid-area: description;
	padding: 15px;
	box-shadow: 0 1px 3px var(--color-gray);
}
/*Nombre video*/
.description-name-video {
	color: var(--color-gray);
	font-size: var(--font-big);
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
}
/*View*/
.description-view {
	padding: 0 0 15px 2px;
}
.description-view .view {
	font-size: var(--font-medium);
	color: var(--color-light-gray);
}
.description-option {
	display: grid;
	grid-template-columns: [start] 140px [col1] 70px [col2] 70px [start-space] 10% [end-space] 80px [col5] 80px [col6] 80px [col7] 80px [end];
	grid-template-rows: 50px;
	grid-gap: 10px;
	align-items: center;
}
/*descripcion botones*/
.btn {
	border-radius: 20px;
	font-size: var(--font-small);
	padding: 7px 10px;
	color: var(--color-white);
	text-align: center;
}
.add-list {
	width: 80%;
	border-radius: 10px;
	background-color: var(--color-red);
	font-size: var(--font-medium);
	grid-column: start / span col1;
}
.add-list:hover {
	background-color: var(--color-ligth-red);
}
.share, .save {
	color: var(--color-gray);
}
.share:hover, .save:hover {
	color: var(--color-white);
	background-color: var(--color-gray);
}
.electronic {
	background-color: var(--color-blue);
	grid-column: end-space / span col5;
}
.electronic:hover {
	background-color: var(--color-blue-opacity);
}
.pikachu {
	background-color: var(--color-yellow);
}
.pikachu:hover {
	background-color: var(--color-yellow-opacity);
}
.dance {
	background-color: var(--color-lila);
}
.dance:hover {
	background-color: var(--color-lila-opacity);
}
.pokemon {
	background-color: var(--color-red);
}
.pokemon:hover {
	background-color: var(--color-ligth-red);
}
/*--------     Comments      -----------*/
.comments {
	grid-area: comments;
	padding: 4vh 0 0 5vh;
}
/*aplica al header de comments y suggest*/
.header {
	font-size: var(--font-medium);
	color: var(--color-gray);
	font-weight: 400;
	margin-bottom: var(--espaciado);
}
/*---------------------------------------*/
/*Caja para añadir comentarios*/
.box-comment {
	width: 75%;
	position: relative;
	margin-bottom: 20px;
}
.box-comment-img {
	position: absolute;
	top: 5px;
	left: 7px;
	height: 30px;
}
#add-comment {
	background-color: var(--color-highligth-gray);
	padding: 13px 10px 13px 50px;
	width: 100%;
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 2px var(--color-gray);
}
/*Seccion de comentarios publicados*/
.comment-published-user {
	display: grid;
	grid-template:  1fr 1fr var(--espaciado) / 50px 15px .9fr;
	grid-template-areas: "icon . name-user"
						 "icon . comment";
}
.comment-icon-user{
	grid-area: icon;
	margin-left: 5px;
}
.comment-name-user {
	grid-area: name-user;
	font-weight: 300;
}
.comment {
	grid-area: comment;
}
.comment, .comment-name-user {
	align-self: center;	
}
/*--------Sugerencias------*/
.suggest {
	grid-area: suggest;
	padding-top: 5vh;
	width: 95%;
}
.publication{
	margin-bottom: 7vh;
}
.publication:last-child {
	margin-bottom: 0;
}
.publication-img {
	width: 90%;
	margin-bottom: var(--espaciado);
}
.publication-img img {
	object-fit: cover;
	object-position: center;
	max-width: 300px;
	max-height: 200px;
}
.publication-description {
	font-size: var(--font-medium);
	text-align: center;
	width: 85%;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {
	
}