/*-----------    Variables  ---------------*/
:root {
	/*Colors*/
	--color-dark-blue: #171b2f;
	--color-blue:#197CDF;
	--color-white: white;
	--color-light-gray:rgba(107,103,103,.77);
	--color-highligth-gray: rgb(165 163 163 / 34%);
	--color-gray: #6b6767;
	--color-yellow:#EEE20A;
	--color-red:#F21802;
	--color-ligth-red: rgba(242,24,2,.9);
	--color-lila:#7B60D3;

	/*Space*/
	--espaciado: 10px;

	/*Font-size*/
	--font-big: 16px;
	--font-medium: 14px;
	--font-small: 12px;
}
/*------------  Fuentes  ------------------*/
/*Roboto*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/*------------ 		General --------------*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", Arial, sans-serif;
}
a {
	text-decoration: none;
}

/*---------- 			Main ---------------*/
.main {
	width: auto;
	height: auto;
}
.wrap {
	display: grid;
	grid-template: 370px 125px 1fr / .6fr 1fr .8fr;
	grid-template-areas:	"sidebar video video"
												"sidebar description description"
												"sidebar comments suggest"
}
.container {
	width: 95%;
	height: auto;
}
/*---------   Sidebar     ---------*/
.sidebar {
	grid-area: sidebar;
	height: 150vh;
	padding: 15px 0 0 10px;
	background-color: var(--color-dark-blue);
	color: var(--color-white);
}
/*Logo*/
.logo {
	margin-bottom: var(--espaciado);
}
/*-----------------   Playlist   ----------*/
.container-playlist {
	width: 95%;
	margin: 0 auto;
}
.my-playlist,
.playlist-friends {
	width: 80%;
}
.playlist-name, .playlist-friend-name{
	font-size: var(--font-medium);
}
/*Playlist titulo*/
.playlist-title{
	margin-bottom: 15px;
}
/*My Playlist*/
.my-playlist {
	margin-bottom: 5vh;
}
.playlist {
	display: grid;
	grid-template-columns: 45px 1fr;
	grid-template-rows: auto;
	margin-bottom: var(--espaciado);
}
.playlist-name, .playlist-friend-name {
	color:var(--color-white);
}
.playlist .playlist-name:hover {
	text-decoration-line: underline;
}
/*Playlist Friend*/
.playlist .playlist-icon {
	border-radius: 50%;
}
.playlist .playlist-friend-name {
	margin-top: 7px;
}
/*---------      Video     ------------*/
.video {
	grid-area: video;
}
.video iframe{
	width: 100%;
	height: 100%;
}
/*---------    Descripcion      -------*/
.description {
	grid-area: description;
	padding: 20px 15px;
	box-shadow: 0 1px 3px var(--color-gray);
}
/*Nombre video*/
.description-name-video {
	color: var(--color-gray);
	font-size: var(--font-big);
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
}
/*View*/
.description-view {
	padding: 0 0 15px 2px;
}
.description-view .view {
	font-size: var(--font-medium);
	color: var(--color-light-gray);
}
.description-option {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 10px 0;
}
/*descripcion botones*/
.btn {
	border-radius: 20px;
	font-size: var(--font-small);
	padding: 7px 10px;
	margin-right: var(--espaciado);
	color: var(--color-white);
}
.btn:last-child {
	margin: 0;
}
.add-list {
	border-radius: 10px;
	background-color: var(--color-red);
	font-size: var(--font-medium);
	padding: 10px 12px;
}
.add-list:hover {
	background-color: var(--color-ligth-red);
}
.share, .save {
	color: var(--color-gray);
}
.share:hover, .save:hover {
	color: var(--color-white);
	background-color: var(--color-gray);
}
.electronic {
	background-color: var(--color-blue);
}
.pikachu {
	background-color: var(--color-yellow);
}
.dance {
	background-color: var(--color-lila);
}
.pokemon {
	background-color: var(--color-red);
}
/*--------     Comments      -----------*/
.comments {
	grid-area: comments;
	padding: 4vh 0 0 5vh;
}
.comment-header {
	font-size: var(--font-medium);
	color: var(--color-gray);
	font-weight: 200;
	margin-bottom: var(--espaciado);
}
.box-comment {
	width: 75%;
	position: relative;
	margin-bottom: 20px;
}
.box-comment-img {
	position: absolute;
	top: 5px;
	left: 10px;
	border-radius: 50%;
}
#add-comment {
	background-color: var(--color-highligth-gray);
	padding: 10px 10px 10px 50px;
	width: 100%;
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 2px var(--color-gray);
}
#add-comment:active {
	border:none;
}

/*--------Sugerencias------*/
.suggest {
	grid-area: suggest;
}