body {
	font-family: Arial;
}

.container {
	display: grid; /*Inicio de Grid Layout (?*/
	grid-template-columns: 25% 50% 20%;/*Definiendo columnas*/
}

.item {
	background-color: lightblue;
	padding: 10px;
	border: 1px solid red;
}