/*-----------    Variables  ---------------*/
:root {
	/*Colors*/
	--color-red:red;
	--color-white:white;
	--color-black: black;
	--color-gray: #545050;
	--color-principal:#fd6967; /*Color rosa carne*/
	--color-principal-opacity:rgb(253 105 103 / 0.7);

	/*Space*/
	--espaciado: 10px;

	/*Font-size*/
	--font-big-bigger:24px;
	--font-bigger:20px;
	--font-big: 16px;
	--font-medium: 14px;
	--font-small: 12px;
}
/*------------  Fuentes  ------------------*/
/*Roboto*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/*------------ 		General --------------*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", Arial, sans-serif;
}
a {
	text-decoration: none;
}
.container {
	width: 95%;
	margin: 0 auto;
}
/*---------- 			Main ---------------*/
#main {
	width: auto;
	height: auto;
	display: grid;
	grid-template: 55px 100% / 100px 1fr;
	grid-template-areas:	"header header"
												"aside main";
}
/*------------  Header  --------------------*/
#main-header {
	grid-area: header;
	box-shadow: 0 1px 3px var(--color-gray);
}
#main-header .container {
	max-width: 1330px;
	display: grid;
	grid-template-columns: [inicio] 120px [col1] 1fr [col2] 35% [col3] 3% [col4] 17% [col5] 20px [fin];
	grid-template-rows: 55px;
	align-items: center;
}
/*Logo*/
.logo{
	grid-column: inicio / span col1;
	display: flex;
}
.logo:hover,
.user,
.btn-option {
	cursor: pointer;
}
.logo-text {
	margin-left: 5px;
	font-size: var(--font-big-bigger);
	color:var(--color-red);
	align-self: center;
	justify-self:center;
}
/*search-bar*/
.search-bar {
	grid-column: col2 / span col3;
	padding: 5px;
	border-radius: 7px;
	border: 1px solid var(--color-gray);
}
/*User*/
.user {
	grid-column: col4 /span col5;
	align-items: center;
	display: flex;
}
.name-user {
	margin-right: 7px;
	text-align: right;
	font-weight: bold;
	font-size: var(--font-big);
	color: var(--color-gray);
}
.icon-user img{
	border-radius: 50%;
	background-color: var(--color-red);
	max-height: 38px;
	object-fit: cover;
	object-position: center;
}
/*Boton de mas opciones para el usuario*/
.btn-option {
	grid-column: col5 / span fin;
}
/*---------------------  Sidebar -------------------------*/
#main-sidebar {
	grid-area: aside;
	background-color: var(--color-principal);
}
#main-sidebar .container {
	display: grid;
	justify-content: center;
	grid-template-rows: [inicio] 20px [row1] 20px [row2] 20px [row3] 60vh [row4] 20px [fin];
	grid-gap: 5vh;
}
#main-sidebar span:last-child {
	grid-row: row4 / span fin;
}
/*------------------  Contenido principal de la pagina -------------------*/
#main-content {
	grid-area: main;
	display: grid;
	grid-template-rows: repeat(3, .1fr);
	grid-gap: 28px;
	padding: 3vh 0 0 5vh;
}
/*Post*/
.post-title {
	margin-bottom: 3vh;
	color:var(--color-gray);
	font-size: var(--font-big);
}
.post {
	max-width: 350px;
	margin: 0 5vh;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.post:nth-of-type(1) {
	margin-left: 0;
}
.post:last-child {
	margin-right: 0;
}
.post-image {
	max-width: 300px;
	margin: 0;
}
.post-image img {
	width: 100%;
	vertical-align: top;
}
.post-overlay {
	background: var(--color-principal-opacity);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50%;
	align-items: center;
	justify-content: center;
	color: white;
	align-items: center;
}
.post-overlay-title{
	font-size: var(--font-big);
	margin: var(--espaciado) 0;
	letter-spacing: .9px;
}
.post-overlay-description {
	font-size: var(--font-small);
}