body {
	font-family: Arial;
}

.container {
	display: grid; /*Inicio de Grid Layout (?*/
	/*grid-template-columns: 25% 200px 25%;Definiendo columnas*/
	/*grid-template-rows: 300px 300px;*/
	grid-template: 300px 100px 100px / 50% 200px 100px; /*grid-template: filas / columnas;*/
	/*fr*/
	column-gap: 50px;
	grid-row-gap: 50px;
	grid-gap: 10px 100px;
}

.item {
	background-color: lightblue;
	padding: 10px;
	border: 1px solid red;
}

.item:nth-of-type(4) { /*nth-of-type(n) es muy parecido a nth-child(n)*/
	background-color: blue;
	overflow: auto;
	/*display: subgrid; Hereda los estilos del padre*/
	/*display: inline-grid; Coloca los grid en linea*/
	display: grid;
	grid-template: 50px 50px 50px / 200px 200px 200px;
}

.item .item {
	background-color: yellow;
}